In [1]:
1

1

In [3]:
type(1)

int

In [4]:
1+1

2

In [5]:
2**2

4

In [6]:
(2*2)+(5-3)

6

In [7]:
name_of_var = 2

In [8]:
x=1
y=3

In [9]:
x+y

4

In [11]:
"I don't like that"

"I don't like that"

In [12]:
print('hello')

hello

In [13]:
"my name is {}".format('Luyen')

'my name is Luyen'

In [15]:
print("my name is {}, my number is {}".format('Luyen',"9"))

my name is Luyen, my number is 9

In [16]:
[1,2,3]

[1, 2, 3]

In [17]:
['a','b','c']

['a', 'b', 'c']

In [18]:
[1,'a']

[1, 'a']

In [20]:
mylist = ['a','b','c']

In [21]:
mylist[0]

'a'

In [23]:
mylist[2]

'c'

In [25]:
mylist[-1]

'c'

In [26]:
mylist[0]='new'

In [27]:
mylist

['new', 'b', 'c']

In [28]:
mylist.append('d')

In [29]:
mylist

['new', 'b', 'c', 'd']

In [30]:
mylist=[1,2,[100,200]]
mylist

[1, 2, [100, 200]]

In [32]:
mylist[2][1] #netlist

200

In [33]:
#dictionary
d={'key1':'1','key2':'2'}

In [34]:
d['key1']

'1'

In [35]:
d['key2']

'2'

In [36]:
print(d)

{'key1': '1', 'key2': '2'}

In [37]:
print(d)

{'key1': '1', 'key2': '2'}

In [38]:
#dictionary not maintain order

In [39]:
True

True

In [40]:
False

False

In [1]:
t = (1,2,3)#this is tupe can't change

In [2]:
{1,2,3}

{1, 2, 3}

In [4]:
{1,1,2,2,3,3}#set look like dictionary - unique element - if add repeat element it will reduce

{1, 2, 3}

##Operator understanding

In [5]:
1==1

True

In [6]:
'A'=='a'

False

In [7]:
1!=2

True

In [8]:
(1==2) and ('a'=='a')

False

In [9]:
(1==2) and ('a'=='a') or (2==3)

False

In [10]:
if 1==1:
    print('yeah!')#indetation here

yeah!

In [11]:
if 1==2:
    print('worked')
else:
    print('nope')

nope

In [12]:
if 1==2:
    print('worked')
elif 3==3:
    print('second condition true')    
else:
    print('nope')

second condition true

In [13]:
seq = [1,2,3,4,5]

In [14]:
for item in seq:
    print(item)

1
2
3
4
5

In [15]:
for item in seq:
    print(item+item)

2
4
6
8
10

In [16]:
i =1 
while i<5:
    print('i is {}'.format(i))
    i = i +1

i is 1
i is 2
i is 3
i is 4

In [17]:
x = [1,2,3,4]

In [18]:
range(5)

range(0, 5)

In [20]:
list(range(2,5))

[2, 3, 4]

In [21]:
for x in range(5):
    print('hi')

hi
hi
hi
hi
hi

In [22]:
x = [1,2,3,4,5]

In [24]:
out=[]
for num in x:
    out.append(num**2)
print(out)

[1, 4, 9, 16, 25]

In [26]:
[num**2 for num in x]

[1, 4, 9, 16, 25]

In [27]:
def my_fuc():
    print('hello')

In [28]:
my_fuc

In [29]:
my_fuc()

hello

In [33]:
def my_fuc(name):
    print('hello '+name)

In [34]:
my_fuc('Luyen')

hello Luyen

In [35]:
def my_fuc(name='No name'):
    print('hello '+name)

In [36]:
my_fuc()

hello No name

In [37]:
#add Docstring
def my_fuc(name='No name'):
    '''this is print name!'''
    print('hello '+name)

In [39]:
help(my_fuc)

Help on function my_fuc in module __main__:

my_fuc(name='No name')
    this is print name!

In [41]:
def square(x):
    return x**2 #if we put print it will not keep value in var

In [42]:
result = square(2)

In [43]:
result

4

In [44]:
type(result)

int

In [45]:
def time_two(var):
    return var*2

In [46]:
time_two(10)

20

In [47]:
lambda var: var*2

In [48]:
st = 'hello my name is Luyen'

In [49]:
st.lower()

'hello my name is luyen'

In [50]:
st.upper()

'HELLO MY NAME IS LUYEN'

In [51]:
st.split()

['hello', 'my', 'name', 'is', 'Luyen']

In [52]:
tweet = 'Hello # sports'

In [53]:
tweet.split()

['Hello', '#', 'sports']

In [55]:
tweet.split('#')[-1]

' sports'

In [56]:
d = {'k1':'v1','k2':'v2'}

In [57]:
d.keys()

dict_keys(['k1', 'k2'])

In [58]:
d.items()

dict_items([('k1', 'v1'), ('k2', 'v2')])

In [59]:
mylist = [1,2,3]

In [60]:
last = mylist.pop()

In [61]:
last

3

In [62]:
mylist=[1,2,3]

In [63]:
first = mylist.pop(0)

In [64]:
first

1

In [65]:
'x' in [1,2,3]

False

In [66]:
1 in mylist

False

In [67]:
2 in mylist

True